<section class="section theme-bg-light">
    <div class="container py-5">
        <div class="section-col-max mx-auto">
            <h1 class="section-title"><strong>¿Qué servicios ofrecemos?</strong></h1>
            <p class="mb-4">Para comenzar debes saber que un seguro es un contrato principal, en tanto
                la fianza es un
                contrato accesorio de garantía. Las prestaciones del asegurador consisten en asumir
                riesgos. A su vez en la fianza se garantiza el pago o el cumplimiento de una obligación
                de dar de hacer o de no hacer.</p>
            <h2 align="center">Brindamos asesorias en:</h2>
            <div class="text-center mb-3">
                <ul class="column-list list-unstyled mx-auto d-inline-block">
                    <li><i class="theme-check-icon fas fa-check me-2"></i> Fianzas
                    </li>
                    <li><i class="theme-check-icon fas fa-check me-2"></i> Seguros
                    </li>
                </ul>
            </div>
            <!--//text-center-->
            <div class="text-center mb-5">
                <a class="btn btn-primary scrollto" routerLink="/login">Contratar un servicio</a>
            </div>

        </div>
        <!--     <div align="center">
        <div class="col-12 col-md-6 mb-3">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/O5OyqYrrXdg"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div> -->
        <!--//col-->


        <!--//container-->

        <!--//section-overview-->

        <div class="benefits-list text-center mb-3">
            <h2 class="section-title mb-4"><strong>Servicios más contratados</strong></h2>
            <ul class="column-list list-unstyled mx-auto d-inline-block" align="center">
                <li><i class="fas fa-check-circle me-2"></i>Seguro de Vida</li>
                <li><i class="fas fa-check-circle me-2"></i>Seguro de Automovil</li>
                <li><i class="fas fa-check-circle me-2"></i>Seguro de Vivienda</li>
                <li><i class="fas fa-check-circle me-2"></i>Seguro de Embarcaciones</li>
                <li><i class="fas fa-check-circle me-2"></i>Fianzas de obra</li>
                <li><i class="fas fa-check-circle me-2"></i>Fianzas de Porveeduria</li>
            </ul>
        </div>
        <div class="text-center mb-3">
            <a class="btn btn-inverse scrollto" routerLink="/inicio">Volver al inicio</a>
        </div>
    </div>
</section>