<body>
  <div class="container-fluid w-75 bg-primary mt-3 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg-white p-5 rounded-end">
        <div class="text-end">

          <h1>Agendar cita</h1>

          <form action="https://formsubmit.co/vbsluisa13@gmail.com" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="mensaje">Mensaje:</label>
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            <br>
            <input type="submit" value="Enviar">
          </form>
          
        </div>
      </div>
    </div>
  </div>
</body>