<div class="container-fluid w-75 bg-primary mt-4 rounded shadow">
  <div class="row align-items-stretch">
    <div class="col bg-white p-3 rounded-end">
      <div class="text-end"><br>
        <h1 class="fw-bold text-center">Agendar cita</h1><br><br>
        <form action="https://formsubmit.co/vbsluisa13@gmail.com" method="post">
          <div class="mb-15" class="text-left">
            <label for="nombre" class="form-label">Nombre Completo</label>
            <input class="form-control" type="text" name="Nombre" id="nombre">
            <br>
            <label for="email" class="form-label">Correo electronico</label>
            <input class="form-control" type="text" name="Email" id="email">
          </div>
          <br>
          <div class="mb-4" class="text-left">
            <label for="password" class="form-label">Numero de Telefono</label>
            <input type="text" class="form-control" name="Numero" id="numero">
          </div>
          <br>
          <div class="mb-4" class="text-left">
            <label for="start" class="form-label">Fecha</label>
            <br>
            <input class="form-control" type="date" id="start" name="Fecha" min="2022-01-01" max="2023-12-31">
          </div>
          <br>
          <div class="d-grid py-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col bg-login d-none d-lg-block col-md-5 col-lg-5 col-xl-6">
    </div>

  </div>
</div><br>